﻿@model IEnumerable<ShengsenEmployeeDistributionMap.Models.ViewModel.Out.OutEmployeesViewModel>

<style>
    .departmentType-1 {
        color: red;
    }

    .departmentType-2 {
        color: blue;
    }
</style>

@{
    ViewBag.Title = "員工資訊";
}

<div id="app">
    @*搜尋條件*@
    <div class="accordion" id="accordionExample">
        <div class="card border-primary">
            <div class="card-header text-white bg-primary" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    員工資訊搜尋條件
                    <i class="fas fa-angle-down float-right pt-1"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <form class="text-left text-sm-left text-md-right text-lg-right">
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="EmployeeName">員工姓名</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" v-model="EmployeeName" />
                            </div>
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CityCode">居住地區</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <select id="CityCode" name="CityCode" class="form-control" v-model="CityCode">
                                    <option value="" selected>--請選擇--</option>
                                    <option v-for="City in CitySelectListItems" v-bind:value="City.Value">{{ City.Text }}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <select id="DistrictCode" name="DistrictCode" class="form-control" v-model="DistrictCode">
                                    <option value="" selected>--請選擇--</option>
                                    <option v-for="District in DistrictSelectListItems" v-bind:value="District.Value">{{ District.Text }}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="Department">技能</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <select id="Department" name="Department" v-model="Department" class="form-control">
                                    <option value="" selected>--請選擇--</option>
                                    <option value="JAVA">JAVA</option>
                                    <option value=".NET">.NET</option>
                                </select>
                            </div>
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CompanySimpleName">駐點公司</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <select id="CompanySimpleName" name="CompanySimpleName" class="form-control" v-model="CompanySimpleName">
                                    <option value="" selected>--請選擇--</option>
                                    <option v-for="Company in StationedCompanySelectListItems" v-bind:value="Company.Text">{{ Company.Text }}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="Category">類別(來源)</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <select id="Category" name="Category" v-model="Category" class="form-control">
                                    <option value="" selected>--請選擇--</option>
                                    <option value="1">104</option>
                                    <option value="2">在職員工</option>
                                    <option value="3">離職員工</option>
                                </select>
                            </div>
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="Personality">四型人格</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <input type="text" class="form-control" id="Personality" name="Personality" v-model="Personality" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="Education">學歷/學位</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                                <input type="text" class="form-control" id="Education" name="Education" v-model="Education" />
                            </div>
                            <label class="col-12 col-sm-12 col-md-1 col-lg-1 my-1 col-form-label" for="WorkExperience">經歷</label>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-6 my-1">
                                <input type="text" class="form-control" id="WorkExperience" name="WorkExperience" v-model="WorkExperience" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="TotalWorkMonthsStart">年資(月數)</label>
                            <div class="col-12 col-sm-12 col-md-10 col-lg-10 form-inline">
                                <input type="number" class="form-control my-1" id="TotalWorkMonthsStart" name="TotalWorkMonthsStart" v-model="TotalWorkMonthsStart" />
                                <span for="TotalWorkMonthsEnd" class="mx-3 col-form-label my-1">~</span>
                                <input type="number" class="form-control my-1" id="TotalWorkMonthsEnd" name="TotalWorkMonthsEnd" v-model="TotalWorkMonthsEnd" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="Residence">通訊地址</label>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1">
                                <input type="text" class="form-control" id="Residence" name="Residence" v-model="Residence" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                                <button type="button" class="btn btn-primary" v-on:click="funRead();">搜尋</button>
                                <button type="button" class="btn btn-danger" v-on:click="funClear();">清除</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*功能按鈕*@
    <div class="form-group py-2">
        <button type="button" class="btn btn-primary" v-on:click="funCreate();">新增資料</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">匯入資料</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#MailGenerator">發送個資網址</button>
        <button type="button" class="btn btn-primary" v-on:click="funExport()">匯出</button>
    </div>

    @*匯入資料彈跳視窗*@
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">匯入資料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="importFile" name="importFile" lang="zh-TW">
                                <label class="custom-file-label" for="importFile">選擇檔案</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" v-on:click="funImport();" type="button">匯入</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="card">
                        <h5 class="card-header">注意事項</h5>
                        <div class="card-body">
                            <p class="card-title">1. 請按照範例檔格式填寫，範例檔下載：<button class="btn btn-link p-0" v-on:click="funImportTemplateDownload();">員工資料匯入範例檔</button>。</p>
                            <p class="card-title">2. 匯入檔案格式為xlsx。</p>
                            <p class="card-title">3. 範例檔欄位名稱「紅字」表示必填欄位。</p>
                            <p class="card-title">4. 匯入檔案大小不可超過5MB。</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    @*搜尋結果*@
    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-nowrap">
                            員工姓名
                        </th>
                        <th class="text-nowrap">
                            居住地區
                        </th>
                        <th class="text-nowrap">
                            駐點公司
                        </th>
                        <th class="text-nowrap">
                            技能
                        </th>
                        <th class="text-nowrap">
                            類別(來源)
                        </th>
                        <th class="text-nowrap">
                            四型人格
                        </th>
                        <th class="text-nowrap">
                            學歷/學位
                        </th>
                        <th class="text-nowrap">
                            經歷
                        </th>
                        <th class="text-nowrap">
                            總年資(月份)
                        </th>
                        <th class="text-nowrap">
                            通訊地址
                        </th>
                        <th class="text-nowrap">
                            @*功能按鈕*@
                        </th>
                    </tr>
                </thead>

                @*搜尋結果*@
                <tbody v-for="item in pageditems">
                    <tr>
                        <td class="text-nowrap">
                            {{ item.EmployeeName }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.CityName + item.DistrictName }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.CompanySimpleName == null ? "" : item.CompanySimpleName }}
                        </td>
                        <td class="text-nowrap">
                            <label v-bind:class="item.Department == '.NET' ? 'departmentType-1' : 'departmentType-2'">{{ item.Department }}</label>
                        </td>
                        <td class="text-nowrap">
                            {{ item.CategoryName }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.Personality }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.Education }}
                        </td>
                        @*<td class="text-nowrap overflow-hidden" style="text-overflow:ellipsis;">*@
                        <td class="text-nowrap">
                            {{ item.WorkExperience }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.TotalWorkMonths }}
                        </td>
                        <td class="text-nowrap">
                            {{ item.Residence }}
                        </td>
                        <td class="text-nowrap">
                            <button type="button" class="btn btn-primary" v-on:click="funEdit(item.Id)">編輯</button>
                            <button type="button" class="btn btn-danger" v-on:click="funDelete(item.Id)">刪除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="MailGenerator" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">發送個資網址</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control-sm" v-model="MailString" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-secondary" v-on:click="funMailGenerator(app.MailString)">發送</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    @*VueJS分頁組件*@
    <div class="form-group">
        <paginate :page-count="pageCount"
                  :page-range=1
                  :init-page=0
                  :margin-pages=2
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :container-class="'pagination justify-content-center'"
                  :prev-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-left\'></i></h3>'"
                  :next-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-right\'></i></h3>'"
                  :first-last-button="'true'"
                  :first-button-text="'第一頁'"
                  :last-button-text="'最後一頁'"
                  :click-handler="pageCallback">
        </paginate>
    </div>
</div>

@section Scripts{
    <script>
        //載入分頁組件
        Vue.component('paginate', VuejsPaginate);
        //每頁顯示筆數
        const pageSize = 10;

        var app = new Vue({
            el: "#app",
            data: {
                // #region 搜尋條件
                EmployeeName: "",
                CityCode: "",
                DistrictCode: "",
                CompanySimpleName: "",
                CitySelectListItems: [],
                DistrictSelectListItems: [],
                StationedCompanySelectListItems: [],
                Department: "",
                Category: null,
                Personality: "",
                Education: "",
                WorkExperience: "",
                TotalWorkMonthsStart: null,
                TotalWorkMonthsEnd: null,
                Residence: "",
                // #endregion
                items: [],
                currentPage: 1,
                pageCount: 1,

                MailString: ""
            },
            methods: {
                funCreate: function () {
                    window.location.href = "/Employees/CreateOrEdit";
                },
                funEdit: function (Id) {
                    window.location.href = "/Employees/CreateOrEdit/" + Id;
                },
                funDelete: function (Id) {
                    if (confirm("你確定要刪除嗎？")) {
                        $.ajax({
                            url: "/api/EmployeesApi/Delete",
                            type: "post",
                            data: JSON.stringify({ Id: Id, }),
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                app.funRead();
                                alert("刪除成功");
                            },
                            error: function (xhr) {
                                alert("刪除失敗");
                            }
                        });
                    }
                },
                funRead: function () {
                    $.ajax({
                        url: "/api/EmployeesApi/GetEmployeesViewModel",
                        data: {
                            "EmployeeName": this.EmployeeName,
                            "CityCode": this.CityCode,
                            "DistrictCode": this.DistrictCode,
                            "Department": this.Department,
                            "CompanySimpleName": this.CompanySimpleName,
                            "Category": this.Category,
                            "Personality": this.Personality,
                            "Education": this.Education,
                            "WorkExperience": this.WorkExperience,
                            "TotalWorkMonthsStart": this.TotalWorkMonthsStart,
                            "TotalWorkMonthsEnd": this.TotalWorkMonthsEnd,
                            "Residence": this.Residence,
                        },
                        type: "get",
                        success: function (data) {
                            app.items = data.Result;
                            //搜尋後設定Vue分頁跳回第一頁
                            app.currentPage = 1;
                        },
                        error: function (xhr) {
                            console.log("error");
                        }
                    });
                },
                //清除搜尋條件
                funClear: function () {
                    this.EmployeeName = "";
                    this.CityCode = "";
                    this.DistrictCode = "";
                    this.Department = "";
                    this.CompanySimpleName = "";
                    this.Category = null;
                    this.Personality = "";
                    this.Education = "";
                    this.WorkExperience = "";
                    this.TotalWorkMonthsStart = null;
                    this.TotalWorkMonthsEnd = null;
                    this.Residence = "";
                    this.funRead();
                },
                //匯入資料
                funImport: function () {
                    //自訂表單及表單參數
                    var fileData = $('#importFile').prop('files')[0];   //取得上傳檔案屬性
                    var formData = new FormData();
                    formData.append("importFile", fileData);  //建立參數1
                    formData.append("type", "xlsx");  //建立參數2

                    //開始匯入
                    $.ajax({
                        url: "/Employees/ImportEmployeesData",
                        type: "post",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            app.funRead();
                            if (data != null && data != "") {
                                alert(data);
                                //清空匯入檔案
                                $(".custom-file-input").val('');
                                $(".custom-file-input").next(".custom-file-label").html($(".custom-file-input").val().split("\\").pop());
                            }
                        },
                        error: function (xhr) {
                            alert("發生錯誤，匯入失敗");
                        }
                    });
                },
                //匯入範本下載
                funImportTemplate: function () {
                    $.ajax({
                        type: "Post",
                        url: '/Employees/ImportTemplateData',
                        success: function (response) {
                            window.location = '/Employees/Download?fileGuid=' + response.FileGuid + '&filename=' + response.FileName;
                        }
                    });
                },
                //匯出資料
                funExport: function () {
                    $.ajax({
                        type: "Post",
                        url: '/Employees/ExportTemplateData',
                        success: function (response) {
                            if (response.Status !== 200) {
                                alert('匯出錯誤，請通知系統管理員');
                            } else {
                                window.location = '/Employees/Download?fileGuid=' + response.FileGuid + '&filename=' + response.FileName;
                            }
                        }
                    });
                },
                //匯入範例檔下載
                funImportTemplateDownload: function () {
                    $.ajax({
                        type: "Post",
                        url: '/Employees/ImportTemplateData',
                        success: function (response) {
                            window.location = '/Employees/Download?fileGuid=' + response.FileGuid + '&filename=' + response.FileName;
                        }
                    });
                },
                //設定分頁項次
                _setPage2Model: function () {
                    var vm = this;

                    if (!vm.items || vm.items.length <= 0) {
                        vm.pageCount = 1;
                    }
                    else {
                        vm.pageCount = parseInt(vm.items.length / pageSize) + (vm.items.length % pageSize > 0 ? 1 : 0);
                        for (let i = 0; i < vm.items.length; i++) {
                            vm.$set(vm.items[i], "page", parseInt(i / pageSize) + 1);
                        }
                    }
                },
                //設定分頁
                pageCallback: function (page) {
                    var vm = this;
                    this.$set(vm, 'currentPage', page);
                },
                //發送郵件
                funMailGenerator: function (MailString) {
                    var result;
                    $.ajax({
                        type: "Post",
                        url: '/api/EmployeesApi/MailGenerator?MailString=' + MailString,
                        dataType: "json",
                        contentType: "application/json"
                    }).done(function (rs) {
                        result = rs.Result;
                    });
                    console.log(result);
                }
            },
            computed: {
                pageditems: function () {
                    var vm = this;
                    if (vm.items && vm.items.length > 0) {
                        return vm.items.filter(function (x) {
                            return x.page === vm.currentPage;
                        })
                    }
                    else {
                        return [];
                    }
                },
            },
            watch: {
                items: function (val) {
                    this._setPage2Model();
                },
                //縣市變更
                CityCode: function () {
                    //取得鄉鎮市區
                    $.ajax({
                        url: "/api/LivingAreaApi/GetDistrictSelectListItems?CityCode=" + this.CityCode,
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.DistrictSelectListItems = data.Result;
                        },
                    });
                }
            },
            created: function () {
                //初始載入
                this.funRead();

                //取得縣市
                $.ajax({
                    url: "/api/LivingAreaApi/GetCitySelectListItems",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.CitySelectListItems = data.Result;
                    },
                });

                //取得鄉鎮市區
                $.ajax({
                    url: "/api/LivingAreaApi/GetDistrictSelectListItems?CityCode=" + this.CityCode,
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.DistrictSelectListItems = data.Result;
                    },
                });

                //取得駐點公司
                $.ajax({
                    url: "/api/StationedCompanyApi/GetStationedCompanySelectListItems",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.StationedCompanySelectListItems = data.Result;
                    },
                });

                //bootstrap 4 顯示上傳檔名
                $(document).ready(function () {
                    $(".custom-file-input").change(function () {
                        $(this).next(".custom-file-label").html($(this).val().split("\\").pop());
                    });
                });
            }
        });
    </script>
}