﻿@model ShengsenEmployeeDistributionMap.Models.ViewModel.In.InEmployeesValidationViewModel

@{
    if (ViewBag.IsExist)
    {
        ViewBag.Title = "檢視資料";
    }
    else
    {
        ViewBag.Title = "新增資料";
    }

    //技能下拉選單
    List<SelectListItem> DepartmentList = new List<SelectListItem>() {
        new SelectListItem() { Value = "", Text = "--請選擇--" },
        new SelectListItem() { Value = "JAVA", Text = "JAVA" },
        new SelectListItem() { Value = ".NET", Text = ".NET" }
    };
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card w-100 h-100 border-dark bg-light shadow rounded">
            @using (Html.BeginForm("JobSeekerViewOrEdit", "Employees", FormMethod.Post, new { id = "createForm"}))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="card-body text-left text-sm-left text-md-right text-lg-right">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", placeholder = "該欄必填" } })
                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-sm-12 col-md-2 col-lg-2 col-form-label">性別</label>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-check form-check-inline float-left p-2">
                                <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" v-model="Gender" v-bind:value="0">
                                <label class="form-check-label" for="inlineRadio1">男</label>
                            </div>
                            <div class="form-check form-check-inline float-left p-2">
                                <input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" v-model="Gender" v-bind:value="1">
                                <label class="form-check-label" for="inlineRadio2">女</label>
                            </div>
                        </div>
                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="input-group date" data-target-input="nearest">
                                <input id="Birthday" name="Birthday" type="text" class="form-control datetimepicker-input" data-target="#Birthday" v-model="Birthday" required />
                                <div class="input-group-append" data-target="#Birthday" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Residence, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
                            @Html.EditorFor(model => model.Residence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Residence, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CityCode, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <select id="CityCode" name="CityCode" class="form-control" v-model="CityCode">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="City in CitySelectListItems" v-bind:value="City.Value">{{ City.Text }}</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.CityCode, "", new { @class = "text-danger float-left" })
                        </div>
                        @Html.LabelFor(model => model.DistrictCode, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <select id="DistrictCode" name="DistrictCode" class="form-control" v-model="DistrictCode">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="District in DistrictSelectListItems" v-bind:value="District.Value">{{ District.Text }}</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.DistrictCode, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control", placeholder = "該欄必填" } })
                            @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger float-left" })
                        </div>
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            @Html.DropDownListFor(model => model.Department, DepartmentList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.WorkExperience, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="ml-3">
                            @Html.TextAreaFor(model => model.WorkExperience, 5, 500, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.WorkExperience, "", new { @class = "text-danger float-left" })
                        @Html.LabelFor(model => model.SkillDescription, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="ml-3">
                            @Html.TextAreaFor(model => model.SkillDescription, 5, 500, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SkillDescription, "", new { @class = "text-danger float-left" })
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.StartWorkDate, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-10 col-lg-10">
                            <div class="input-group date" data-target-input="nearest">
                                <input id="StartWorkDate" name="StartWorkDate" placeholder="該欄必填" type="text" class="form-control datetimepicker-input" data-target="#StartWorkDate" v-model="StartWorkDate" required />
                                <div class="input-group-append" data-target="#StartWorkDate" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="ml-3">
                            @Html.TextAreaFor(model => model.Remark, 5, 500, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger float-left" })
                    </div>
                </div>

                if (ViewBag.IsExist == false)
                {
                    <div class="card-footer bg-transparent border-dark text-center">
                        <label>
                            <input v-on:click="funCreate();" value="新增" class="btn btn-primary" />
                        </label>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            //初始化日期
            $('#Birthday').datetimepicker({
                format: "YYYY/MM/DD",
                startDate: "today",
                todayHighlight: true,
                language: 'zh-TW'
            });
            $('#StartWorkDate').datetimepicker({
                format: "YYYY/MM/DD",
                startDate: "today",
                todayHighlight: true,
                language: 'zh-TW'
            });
        });
        const isExist = "@ViewBag.IsExist" == "True";
        const CityCode = "@Model.CityCode";
        const DistrictCode = "@Model.DistrictCode";
        const StartWorkDate = "@Model.StartWorkDateString"; //僅顯示yyyy/MM/dd
        const Birthday = "@Model.BirthdayString"; //僅顯示yyyy/MM/dd
        const Gender = "@Model.Gender";
        
        var app = new Vue({
            el: "#app",
            data: {
                CityCode: CityCode,
                DistrictCode: DistrictCode,
                CitySelectListItems: [],
                DistrictSelectListItems: [],
                StartWorkDate: StartWorkDate,
                Birthday: Birthday,
                Gender: Gender,
            },
            watch: {
                //縣市變更
                CityCode: function () {
                    //取得鄉鎮市區
                    $.ajax({
                        url: "/api/LivingAreaApi/GetDistrictSelectListItems?CityCode=" + this.CityCode,
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.DistrictSelectListItems = data.Result;
                        },
                    });
                },
            },
            methods: {
                funCreate: function() {
                    if (confirm("新增後就不可以修改，是否要新增？")) {
                        $("#createForm").submit();
                    }
                }
            },
            created: function () {
                //取得縣市
                $.ajax({
                    url: "/api/LivingAreaApi/GetCitySelectListItems",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.CitySelectListItems = data.Result;
                    },
                });

                //取得鄉鎮市區
                $.ajax({
                    url: "/api/LivingAreaApi/GetDistrictSelectListItems?CityCode=" + this.CityCode,
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.DistrictSelectListItems = data.Result;
                    },
                });

                //檢視的話禁用所有欄位
                $('input,select,textarea').prop('disabled', isExist);
            }
        });
    </script>
}