﻿@{
    ViewBag.Title = "新增資訊確認";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-4 col-lg-4 shadow rounded">
            <form>
                <div class="card-header bg-transparent text-center">
                    <h3>@ViewBag.Title</h3>
                    <p>您的資料已輸入完畢，請自行關閉視窗</p>
                </div>
            </form>
        </div>
    </div>
</div>