﻿@model ShengsenEmployeeDistributionMap.Models.ViewModel.In.InStationedCompanyValidationViewModel

@{
    ViewBag.Title = "編輯資料";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card w-100 h-100 border-dark bg-light shadow rounded">
            @using (Html.BeginForm("Edit", "StationedCompany", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>編輯資料</h3>
                </div>
                <div class="card-body text-left text-sm-left text-md-right text-lg-right">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CompanySimpleName, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                            @Html.EditorFor(model => model.CompanySimpleName, new { htmlAttributes = new { @class = "form-control", placeholder = "該欄必填" } })
                            @Html.ValidationMessageFor(model => model.CompanySimpleName, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "該欄必填" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "col-12 col-sm-12 col-md-2 col-lg-2 col-form-label" })
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger float-left" })
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark text-center">
                    <label>
                        <input type="submit" value="儲存" class="btn btn-primary" />
                        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index")'">返回</button>
                    </label>
                </div>
            }
        </div>
    </div>
</div>