﻿@model IEnumerable<ShengsenEmployeeDistributionMap.Models.StationedCompany>

@{
    ViewBag.Title = "駐點公司資訊";
}

<div id="app">
    @*搜尋條件*@
    <div class="accordion" id="accordionExample">
        <div class="card border-primary">
            <div class="card-header text-white bg-primary" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    駐點公司資訊搜尋條件
                    <i class="fas fa-angle-down float-right pt-1"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <form class="text-left text-sm-left text-md-right text-lg-right">
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CompanySimpleName">簡稱</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                                <input type="text" class="form-control" id="CompanySimpleName" name="CompanySimpleName" v-model="CompanySimpleName" />
                            </div>
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CompanyName">全名</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" v-model="CompanyName" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CompanyAddress">地址</label>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
                                <input type="text" class="form-control" id="CompanyAddress" name="CompanyAddress" v-model="CompanyAddress" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 my-1">
                                <button type="button" class="btn btn-primary" v-on:click="funRead();">搜尋</button>
                                <button type="button" class="btn btn-danger" v-on:click="funClear();">清除</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*功能按鈕*@
    <div class="form-group py-2">
        <button type="button" class="btn btn-primary" v-on:click="funCreate();">新增資料</button>
    </div>

    @*搜尋結果*@
    <div class="form-group">
        <div class="table-responsive-sm">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">
                            簡稱
                        </th>
                        <th scope="col">
                            全名
                        </th>
                        <th scope="col">
                            地址
                        </th>
                        <th scope="col">
                        </th>
                    </tr>
                </thead>

                <tbody v-for="item in pageditems">
                    <tr>
                        <td>
                            {{ item.CompanySimpleName }}
                        </td>
                        <td>
                            {{ item.CompanyName }}
                        </td>
                        <td>
                            {{ item.CompanyAddress == null ? "" : item.CompanyAddress }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" v-on:click="funEdit(item.Id)">編輯</button>
                            <button type="button" class="btn btn-danger" v-on:click="funDelete(item.Id)">刪除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @*VueJS分頁組件*@
    <div class="form-group">
        <paginate :page-count="pageCount"
                  :page-range=1
                  :init-page=0
                  :margin-pages=2
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :container-class="'pagination justify-content-center'"
                  :prev-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-left\'></i></h3>'"
                  :next-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-right\'></i></h3>'"
                  :first-last-button="'true'"
                  :first-button-text="'第一頁'"
                  :last-button-text="'最後一頁'"
                  :click-handler="pageCallback">
        </paginate>
    </div>
</div>

@section Scripts{
    <script>
        //載入分頁組件
        Vue.component('paginate', VuejsPaginate)
        //每頁顯示筆數
        const pageSize = 10;

        var app = new Vue({
            el: "#app",
            data: {
                CompanySimpleName: "",
                CompanyName: "",
                CompanyAddress: "",
                items: [],
                currentPage: 1,
                pageCount: 1
            },
            methods: {
                //新增
                funCreate: function () {
                    window.location.href = "/StationedCompany/Create";
                },
                //編輯
                funEdit: function (Id) {
                    window.location.href = "/StationedCompany/Edit/" + Id;
                },
                //刪除
                funDelete: function (Id) {
                    if (confirm("你確定要刪除嗎？")) {
                        $.ajax({
                            url: "/api/StationedCompanyApi/Delete",
                            type: "post",
                            data: JSON.stringify({ Id: Id, }),
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                app.funRead();
                                alert("刪除成功");
                            },
                            error: function (xhr) {
                                alert("刪除失敗");
                            }
                        });
                    }
                },
                //讀取資料
                funRead: function () {
                    $.ajax({
                        url: "/api/StationedCompanyApi/GetFilterData?CompanySimpleName=" + this.CompanySimpleName + "&CompanyName=" + this.CompanyName + " & CompanyAddress=" + this.CompanyAddress,
                        type: "get",
                        success: function (data) {
                            app.items = data.Result;
                            //搜尋後設定Vue分頁跳回第一頁
                            app.currentPage = 1;
                        },
                        error: function (xhr) {
                            console.log("error");
                        }
                    });
                },
                //清除搜尋條件
                funClear: function () {
                    this.CompanySimpleName = "";
                    this.CompanyName = "";
                    this.CompanyAddress = "";
                    this.funRead();
                },
                //設定分頁項次
                _setPage2Model: function () {
                    var vm = this;

                    if (!vm.items || vm.items.length <= 0) {
                        vm.pageCount = 1;
                    }
                    else {
                        vm.pageCount = parseInt(vm.items.length / pageSize) + (vm.items.length % pageSize > 0 ? 1 : 0);
                        for (let i = 0; i < vm.items.length; i++) {
                            vm.$set(vm.items[i], "page", parseInt(i / pageSize) + 1);
                        }
                    }
                },
                //設定分頁
                pageCallback: function (page) {
                    var vm = this;
                    this.$set(vm, 'currentPage', page);
                }
            },
            computed: {
                pageditems: function () {
                    var vm = this;
                    if (vm.items && vm.items.length > 0) {
                        return vm.items.filter(function (x) {
                            return x.page === vm.currentPage;
                        })
                    }
                    else {
                        return [];
                    }
                },
            },
            watch: {
                items: function (val) {
                    this._setPage2Model();
                }
            },
            created() {
                //初始載入
                this.funRead();
            }
        });
    </script>
}