﻿<div id="app">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12 pt-3">
            <div class="card">
                <div class="card-header">
                    <h4>群組新增</h4>
                </div>
                <div class="card-body text-md-right text-sm-left">
                    <div class="row form-group">
                        <label class="col-md-4 col-sm-12 my-1">群組名稱</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" class="form-control" v-model="GroupName" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-sm-12 my-1">所屬公司</label>
                        <div class="col-md-8 col-sm-12">
                            <select id="test123" class="form-control" v-model="StationedCompanyId">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="company in StationedCompanyList" v-bind:value="company.Value">{{ company.Text }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-sm-12 my-1">所屬員工</label>
                        <div class="col-md-8 col-sm-12">
                            <multiselect v-model="EmployeeIdList"
                                         :options="EmployeeList"
                                         :multiple="true"
                                         :taggable="true"
                                         :searchable="true"
                                         :close-on-select="false"
                                         :clear-on-select="false"
                                         placeholder="--請選擇--"
                                         label="EmployeeName"
                                         track-by="Id">
                            </multiselect>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" v-on:click="funSubmit()">確認</button>
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='/GroupManagement/index'">返回</button>
                </div>
            </div>
        </div>
        @*Loading Modal*@
        <div class="modal fade overflow-hidden" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="mt-3 font-weight-bold">Sending...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var app = new Vue({
            el: "#app",
            components: {
                Multiselect: window.VueMultiselect.default
            },
            data: function () {
                return {
                    GroupName: '',
                    EmployeeIdList: [],
                    StationedCompanyId: '',
                    // 下拉選單清單
                    StationedCompanyList: [],
                    EmployeeList: []
                }
            },
            created: function () {
                // 取得駐點公司
                $.ajax({
                    url: "/api/StationedCompanyApi/GetStationedCompanySelectListItems",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.StationedCompanyList = data.Result;
                    },
                });
            },
            methods: {
                funSubmit: function () {

                    if (app.funSubmitCheck()) {
                        $.ajax({
                            url: "/api/GroupApi/CreateGroup",
                            type: "Post",
                            data: JSON.stringify({
                                GroupName: app.GroupName,
                                StationedCompanyId: app.StationedCompanyId,
                                EmployeeIdList: app.EmployeeIdList
                            }),
                            contentType: "application/json",
                            beforeSend: function () {
                                app.funLoadingModal();
                            },
                            success: function () {
                                Swal.fire({
                                    type: "success",
                                    title: "新增成功",
                                    allowOutsideClick: false
                                }).then(function () {
                                    app.funLoadingModal();
                                    window.location.href = "/GroupManagement/Index";
                                });
                            }
                        });
                    }
                },
                funSubmitCheck: function () {
                    var message = '';
                    if (app.funisEmpty(app.GroupName)) {
                        message += '群組名稱不得為空 \n';
                    }
                    if (app.funisEmpty(app.StationedCompanyId)) {
                        message += '請選擇所屬公司 \n';
                    }

                    if (!app.funisEmpty(message)) {
                        Swal.fire({
                            type: "warning",
                            title: message,
                            allowOutsideClick: false
                        });
                        return false;
                    }

                    return true;
                },
                funGetEmployee: function (companyId) {
                    $.ajax({
                        url: "/api/EmployeesApi/GetEmployeesGroupList",
                        type: "Post",
                        data: JSON.stringify({
                            CompanyId: companyId
                        }),
                        contentType: "application/json",
                        success: function (data) {
                            app.EmployeeList = data.Result;
                        }
                    });
                },
                // Empty Check
                funisEmpty: function (val) {
                    return (val === undefined || val == null || val.trim().length <= 0) ? true : false;
                },
                // Loading modal
                funLoadingModal: function () {
                    $('#loadingModal').modal('toggle');
                },
            },
            watch: {
                StationedCompanyId: function (value) {
                    if (value === '') {
                        app.EmployeeIdList = [];
                    } else {
                        app.EmployeeIdList = [];
                        app.funGetEmployee(value);
                    }

                }
            }
        });
    </script>
}