﻿<div id="app">
    <div class="row">
        <div class="offset-3 col-6 pt-3">
            <div class="card">
                <div class="card-header">
                    <h4>群組編輯</h4>
                </div>
                <div class="card-body text-md-right text-sm-left">
                    <div class="row form-group">
                        <label class="col-md-4 my-1">群組名稱</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" v-model="GroupName" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 my-1">所屬公司</label>
                        <div class="col-md-8 text-left">
                            <label>{{StationedCompanyName}}</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 my-1">所屬員工</label>
                        <div class="col-md-8">
                            <multiselect v-model="EmployeeIdList"
                                         :options="EmployeeList"
                                         :multiple="true"
                                         :taggable="true"
                                         :searchable="true"
                                         :close-on-select="false"
                                         :clear-on-select="false"
                                         label="EmployeeName"
                                         track-by="Id">
                            </multiselect>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" v-on:click="funSubmit()">確認</button>
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='/GroupManagement/index'">返回</button>
                </div>
            </div>
        </div>
        @*Loading Modal*@
        <div class="modal fade overflow-hidden" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="mt-3 font-weight-bold">Sending...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var app = new Vue({
            el: "#app",
            components: {
                Multiselect: window.VueMultiselect.default
            },
            data: function () {
                return {
                    Id: '',
                    GroupName: '',
                    EmployeeIdList: [],
                    StationedCompanyId: '',
                    StationedCompanyName: '',
                    // 下拉選單清單
                    EmployeeList: []

                }
            },
            created: function () {
                var url = location.href;
                if (url.indexOf('?') != -1) {
                    var GroupId = url.split('?')[1].split('=')[1];
                    // 取得群組資料
                    $.ajax({
                        url: "/api/GroupApi/GetGroupList",
                        type: "Post",
                        data: JSON.stringify({
                            Id: GroupId
                        }),
                        contentType: "application/json",
                        success: function (response) {
                            var data = response.Result[0];

                            app.Id = GroupId;
                            app.GroupName = data.GroupName;
                            app.StationedCompanyId = data.StationedCompanyId;
                            app.StationedCompanyName = data.StationedCompanyName;
                            app.EmployeeIdList = $.map(data.Employees, function (item) {
                                return { Id: item.EmployeeId, EmployeeName: item.EmployeeName };
                            });
                        }
                    }).done(function (res) {
                        app.funGetEmployee(res.Result[0].StationedCompanyId, res.Result[0].Id);
                    });
                }
            },
            methods: {
                funSubmit: function () {

                    if (app.funSubmitCheck()) {
                        $.ajax({
                            url: "/api/GroupApi/UpdateGroup",
                            type: "Post",
                            data: JSON.stringify({
                                Id: app.Id,
                                GroupName: app.GroupName,
                                StationedCompanyId: app.StationedCompanyId,
                                EmployeeIdList: app.EmployeeIdList
                            }),
                            contentType: "application/json",
                            beforeSend: function () {
                                app.funLoadingModal();
                            },
                            success: function () {
                                Swal.fire({
                                    type: "success",
                                    title: "更新成功",
                                    allowOutsideClick: false
                                }).then(function () {
                                    app.funLoadingModal();
                                    window.location.href = "/GroupManagement/Index";
                                });
                            }
                        });
                    }
                },
                funSubmitCheck: function () {

                    return true;
                },
                funGetEmployee: function (companyId, groupId) {
                    $.ajax({
                        url: "/api/EmployeesApi/GetEmployeesGroupList",
                        type: "Post",
                        data: JSON.stringify({
                            CompanyId: companyId,
                            GroupId: groupId
                        }),
                        contentType: "application/json",
                        success: function (data) {
                            app.EmployeeList = data.Result;
                        }
                    });
                },
                // Empty Check
                funisEmpty: function (val) {
                    return (val === undefined || val == null || val.trim().length <= 0) ? true : false;
                },
                // Loading modal
                funLoadingModal: function () {
                    $('#loadingModal').modal('toggle');
                },
            }
        });
    </script>
}