﻿@{
    ViewBag.Title = "員工資訊";
}

<div id="app">
    @*搜尋條件*@
    <div class="accordion" id="accordionExample">
        <div class="card border-primary">
            <div class="card-header text-white bg-primary" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    群組設定
                    <i class="fas fa-angle-down float-right pt-1"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse show text-sm-left text-md-right" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 my-1 col-form-label">群組名稱</label>
                            <div class="col-sm-12 col-md-2 my-1">
                                <input type="text" class="form-control" v-model="QueryString" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" v-on:click="funRead()">搜尋</button>
                    <button type="button" class="btn btn-danger" v-on:click="funClear()">清除</button>
                    <button type="button" class="btn btn-primary" v-on:click="funCreate()">新增資料</button>
                </div>
            </div>
        </div>
    </div>

    @*搜尋結果*@
    <div class="form-group">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="text-nowrap w-25">群組名稱</th>
                        <th class="text-nowrap w-25">駐點公司</th>
                        <th class="text-nowrap w-25">動作</th>
                    </tr>
                </thead>

                @*搜尋結果*@
                <tbody>
                    <tr v-for="(group, index) in GroupList">
                        <td class="p-0" colspan="3">
                            <table class="w-100">
                                <tr class="accordion-toggle collapsed">
                                    <td class="text-nowrap border-0 w-25">{{ group.GroupName }}</td>
                                    <td class="text-nowrap border-0 w-25">{{ group.StationedCompanyName }}</td>
                                    <td class="text-nowrap border-0 w-25">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" :href="'#row' + index">明細</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary" v-on:click="funEdit(group.Id)">編輯</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" v-on:click="funDelete(group.Id)">刪除</button>
                                    </td>
                                </tr>
                                <tr class="hide-table-padding">
                                    <td class="py-0" colspan="3" style="background-color: rgba(0, 0, 0, 0.03)">
                                        <div :id="'row' + index" class="collapse in py-0 px-3">
                                            <div class="row">
                                                <div class="col-3" v-for="emp in group.Employees">{{ emp.EmployeeName }}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    @*VueJS分頁組件*@
    <div class="form-group">
        <paginate :page-count="pageCount"
                  :page-range=1
                  :init-page=0
                  :margin-pages=2
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :container-class="'pagination justify-content-center'"
                  :prev-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-left\'></i></h3>'"
                  :next-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-right\'></i></h3>'"
                  :first-last-button="'true'"
                  :first-button-text="'第一頁'"
                  :last-button-text="'最後一頁'"
                  :click-handler="pageCallback">
        </paginate>
    </div>
</div>

@section Scripts{
    <script>
        //載入分頁組件
        Vue.component('paginate', VuejsPaginate);
        //每頁顯示筆數
        const pageSize = 10;

        var app = new Vue({
            el: "#app",
            data: {
                // 搜尋條件
                QueryString: '',

                // 查詢結果
                GroupList: [],

                // 共用
                currentPage: 1,
                pageCount: 1
            },
            created: function () {
                // 初始載入
                this.funRead();
            },
            methods: {
                funCreate: function () {
                    window.location.href = "/GroupManagement/Create";
                },
                funEdit: function (Id) {
                    window.location.href = "/GroupManagement/Edit?id=" + Id;
                },
                funDelete: function (id) {
                    Swal.fire({
                        title: '你確定要刪除嗎？',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: '是',
                        cancelButtonText: '取消',
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                                url: "/api/GroupApi/DeleteGroup",
                                type: "Post",
                                data: JSON.stringify({ Id: id }),
                                contentType: "application/json",
                                success: function () {
                                    app.funRead();
                                }
                            });
                        }
                    })
                },
                funRead: function () {
                    var _this = this;
                    $.ajax({
                        url: "/api/GroupApi/GetGroupList",
                        type: "Post",
                        data: JSON.stringify({
                            QueryString: _this.QueryString
                        }),
                        contentType: "application/json",
                        success: function (data) {
                            app.GroupList = data.Result;
                            console.log(app.GroupList);
                            //搜尋後設定Vue分頁跳回第一頁
                            app.currentPage = 1;
                        }
                    });
                },
                //清除搜尋條件
                funClear: function () {
                    app.QueryString = '';
                    app.funRead();
                },
                //設定分頁項次
                _setPage2Model: function () {
                    var vm = this;

                    if (!vm.items || vm.items.length <= 0) {
                        vm.pageCount = 1;
                    }
                    else {
                        vm.pageCount = parseInt(vm.items.length / pageSize) + (vm.items.length % pageSize > 0 ? 1 : 0);
                        for (let i = 0; i < vm.items.length; i++) {
                            vm.$set(vm.items[i], "page", parseInt(i / pageSize) + 1);
                        }
                    }
                },
                //設定分頁
                pageCallback: function (page) {
                    var vm = this;
                    this.$set(vm, 'currentPage', page);
                }
            },
            computed: {
                pageditems: function () {
                    var vm = this;
                    if (vm.items && vm.items.length > 0) {
                        return vm.items.filter(function (x) {
                            return x.page === vm.currentPage;
                        })
                    }
                    else {
                        return [];
                    }
                }
            }
        });
    </script>
}