﻿@model ShengsenEmployeeDistributionMap.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "變更密碼";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-3 col-lg-3 shadow rounded">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                    <h4>變更密碼表單</h4>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-form-label" })
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入舊密碼" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-form-label" })
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "請輸入密碼" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label" })
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "請輸入密碼" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            <p>
                                <input type="submit" value="變更密碼" class="btn btn-primary" />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}