﻿@model ShengsenEmployeeDistributionMap.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-3 col-lg-3 shadow rounded">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                    <h4>變更帳戶設定</h4>
                </div>
                <div class="card-body">
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <dl class="dl-horizontal">
                        <dt>密碼:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("變更密碼", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("建立", "SetPassword")
                            }
                            ]
                        </dd>
                        @*<dt>外部登入:</dt>
                            <dd>
                                @Model.Logins.Count [
                                @Html.ActionLink("管理", "ManageLogins") ]
                            </dd>*@
                        @*
                            電話號碼可用作為雙重要素驗證系統中的第二項驗證要素。

                             請參閱<a href="https://go.microsoft.com/fwlink/?LinkId=403804">此文章</a>
                                以取得設定此 ASP.NET 應用程式使用簡訊來支援雙重要素驗證的詳細資料。

                             設定了雙重驗證之後，請取消對下列區塊的註解
                        *@
                        @*
                            <dt>電話號碼:</dt>
                            <dd>
                                @(Model.PhoneNumber ?? "None")
                                @if (Model.PhoneNumber != null)
                                {
                                    <br />
                                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text>[<input type="submit" value="移除" class="btn-link" />]</text>
                                    }
                                }
                                else
                                {
                                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                                }
                            </dd>
                        *@
                        @*<dt>雙因素驗證:</dt>
                            <dd>
                                <p>
                                    未設定任何雙重要素驗證提供者。請參閱<a href="https://go.microsoft.com/fwlink/?LinkId=403804">此文章</a>
                                    以取得設定此 ASP.NET 應用程式以支援雙重要素驗證的詳細資料。
                                </p>*@
                        @*@if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>已啟用
                                    <input type="submit" value="停用" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>已停用
                                    <input type="submit" value="啟用" class="btn btn-link" />
                                    </text>
                                }
                            }*@
                        @*</dd>*@
                    </dl>
                </div>
            }
        </div>
    </div>
</div>