﻿@{
    ViewBag.Title = "忘記密碼確認";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-4 col-lg-4 shadow rounded">
            <form>
                <div class="card-header bg-transparent text-center">
                    <h3>@ViewBag.Title</h3>
                    <p>電子郵件錯誤，請檢查電子郵件以重設密碼</p>
                </div>
            </form>
        </div>
    </div>
</div>
