﻿@using ShengsenEmployeeDistributionMap.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-3 col-lg-3 shadow rounded">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入信箱" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "請輸入密碼" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                        <div class="form-group text-center">
                            <p>
                                <input type="submit" value="登入" class="btn btn-primary" />
                            </p>
                        </div>
                    </div>
                    @*<a href="~/Account/Register" class="text-center">
                        <div class="card-footer text-muted">
                            註冊
                        </div>
                    </a>*@
                    @*<a href="~/Account/ForgotPassword" class="text-center">
                        <div class="card-footer text-muted">
                            忘記密碼?
                        </div>
                    </a>*@
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}