﻿@model ShengsenEmployeeDistributionMap.Models.RegisterInvitationViewModel
@{
    ViewBag.Title = "註冊";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-3 col-lg-3 shadow rounded">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                    <h4>建立新的帳戶</h4>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入信箱" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            <p>
                                <input type="submit" value="註冊" class="btn btn-primary" />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.Message != null)
    {
        <script>

            $(document).ready(function(){

                Swal.fire({
                    type: "success",
                    title: "@ViewBag.Message"

                }).then(() => {
                    $('[name=Email]').val('');
                })

            });

        </script>

    }
}
