﻿@model ShengsenEmployeeDistributionMap.Models.RegisterViewModel
@{
    ViewBag.Title = "註冊";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-3 col-lg-3 shadow rounded">
            @using (Html.BeginForm("RegisterConfirmation", "Account", FormMethod.Post, new { role = "form" }))
            {
                <div class="card-header bg-transparent border-dark text-center">
                    <h3>@ViewBag.Title</h3>
                    <h4>建立新的帳戶</h4>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="form-group">
                            @Html.HiddenFor(model => model.Id)
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "請輸入密碼" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label" })
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "請輸入密碼" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            <p>
                                <input type="submit" value="註冊" class="btn btn-primary" />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


