﻿@{
    ViewBag.Title = "重設密碼確認";
}

<div id="app">
    <div class="d-flex justify-content-center p-3">
        <div class="card h-100 border-dark bg-light col-12 col-sm-12 col-md-4 col-lg-4 shadow rounded">
            <form>
                <div class="card-header bg-transparent text-center">
                    <h3>@ViewBag.Title</h3>
                    <p>您的密碼已重設。請 @Html.ActionLink("按一下這裡登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                </div>
            </form>
        </div>
    </div>
</div>