﻿@{
    ViewBag.Title = "Staff Distribution Map";
}

<div id="app">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="h-100">
            <div class="sidebar-nav">
                <div id="SelectedInfo" style="display: none">
                    <div class="d-flex border-bottom px-2 pt-3">
                        <div class="w-100">
                            <h3 class="text-secondary">{{ LivingArea }}</h3>
                        </div>
                        <div class="flex-shrink-1">
                            <!--Hide Side Bar button-->
                            <button class="float-right" style="border: 0px; background-color: transparent; font-size: 24px;" v-on:click="HideSideBar()">☰</button>
                        </div>
                    </div>
                    <div style="overflow:auto; max-height:55%;">
                        <div class="d-flex text-secondary p-2">
                            <div class="col-lg-4 col-xs-4">
                                <label class="h5">員工姓名</label>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <label class="h5">駐點公司</label>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <label class="h5">技能</label>
                            </div>
                        </div>
                        <div class="d-flex text-dark p-2 row-hover" v-for="d in DisplayDataList">
                            <div class="col-lg-4 col-xs-4">
                                <label>{{ d.EmployeeName }}</label>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <label>{{ d.CompanySimpleName }}</label>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <label v-bind:class="d.Department == '.NET' ? 'departmentType-1' : 'departmentType-2'">{{ d.Department }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <!--地圖-->
            <div class="w-100 h-100 position-absolute flex-grow-1" style="top:0px;" id="map"></div>
            <!--地圖上縮放按鈕-->
            <div class="position-absolute pt-3" style="right: 12px;">
                <button style="border: 1px solid #f5f5f5; border-radius: 5px; background-color: white; font-size: 24px;" v-on:click="AreaSideBarDisplay()">☰</button>
            </div>
            <!--地區資訊-->
            <div class="flex-shrink-1 h-100" id="LivingAreaInfomation">
                <div id="AreaSideBar" class="sidebar-nav" style="display: none">
                    <div class="headerStyle mt-3">
                        <label style="font-size: 18px;">工作地點</label>
                    </div>
                    <div style="margin: 5px 10px 5px 10px;">
                        <select id="StationedCode" name="StationedCode" class="form-control" v-model="StationedCode">
                            <option value="" selected>--請選擇--</option>
                            <option v-for="Stationed in StationedCompanySelectListItems" v-bind:value="Stationed.Value">{{ Stationed.Text }}</option>
                        </select>
                    </div>
                    @*<div style="margin: 5px 10px 5px 10px;">
                            <select id="CityCode" name="CityCode" class="form-control" v-model="CityCode">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="City in CitySelectListItems" v-bind:value="City.Value">{{ City.Text }}</option>
                            </select>
                        </div>
                        <div style="margin: 5px 10px 5px 10px;">
                            <select id="DistrictCode" name="DistrictCode" class="form-control" v-model="DistrictCode" v-bind:disabled="DistrictSelectListItems.length < 2">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="District in DistrictSelectListItems" v-bind:value="District.Value">{{ District.Text }}</option>
                            </select>
                        </div>*@

                    <div class="headerStyle mt-2">
                        <label style="font-size: 18px;">居住地區</label>
                        <button class="btn btn-primary" style="padding: 3px 4px; font-size: 12px; margin-bottom: 5px; float: right" v-on:click="ClearMarker()">清除</button>
                    </div>
                    <div style="margin: 5px 10px;">
                        <select id="LivingCityCode" name="LivingCityCode" class="form-control" v-model="LivingCityCode">
                            <option value="" selected>--請選擇--</option>
                            <option v-for="City in LivingCityList" v-bind:value="City.Value">{{ City.Text }}</option>
                        </select>
                    </div>
                    <div style="overflow-x:hidden; overflow-y:auto; max-height:55%;">
                        <div class="pl-3 d-flex flex-wrap">
                            <div v-for="Area in LivingAreaList" v-show="Area.City == LivingCityCode" class="p-1">
                                <button v-bind:id="Area.BtnId" class="btn btn-outline-secondary" v-on:click="LivingAreaBtnClick(event, Area)">{{ Area.DistrictName }}</button>
                            </div>
                        </div>
                    </div>
                    <!--SideBar縮放按鈕-->
                    <div class="position-absolute pt-2" style="left: 0px; top: 0px">
                        <button style="border: none; background-color: transparent; font-size: 24px;" v-on:click="AreaSideBarDisplay()">☰</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*載入Vue.js CDN*@
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--Google Map API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSrX65_DnVspvWqsaGMXiifAxu79pol7c"></script>

    <!--Vue-->
    <script>
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    map: null,
                    markerList: [],
                    StationedMarker: null,
                    geocoder: null, //存放 geocoder 物件實例
                    LivingArea: "",
                    DisplayDataList: [],    //顯示資料
                    //工作縣市
                    CityCode: "",
                    CitySelectListItems: [],
                    //工作鄉鎮市區
                    DistrictCode: "",
                    DistrictSelectListItems: [],
                    //駐點公司
                    StationedCode: "",
                    StationedCompanySelectListItems: [],
                    //居住縣市
                    LivingCityCode: "",
                    LivingCityList: [],
                    LivingAreaList: []
                }
            },

            mounted: function () {
                this.initGeocoder();
                this.GetCity();
                this.GetStationedCompany();
                this.initMap();
                this.getEmployeeData();
            },
            methods: {
                //定義Geocoder
                initGeocoder() {
                    this.geocoder = new google.maps.Geocoder();
                },
                // 建立地圖
                initMap: function () {
                    this.map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: 25.0175862, lng: 121.2261826 },  //預設台北市
                        zoom: 10,
                        maxZoom: 20,
                        minZoom: 3,
                        streetViewControl: false,
                        mapTypeControl: false,
                        fullscreenControl: false
                    });
                },
                //取得座標
                GetGeocode(address) {
                    return new Promise(function (resolve, reject) {
                        app.geocoder.geocode(
                            {
                                address: address,
                                componentRestrictions: { country: "TW" }
                            },
                            (results, status) => {
                                if (status === "OK") {
                                    var location = results[0].geometry.location;
                                    resolve(location);

                                } else {
                                    reject(status);
                                }
                            }
                        );
                    });
                },
                //居住地區點擊
                LivingAreaBtnClick(e, data) {
                    this.GetGeocode(data.CityName + data.DistrictName).then(function (location) {
                        var selectedMarker = [];
                        var SelectedId = "Marker_" + data.City + "_" + data.District;
                        //找出對應Marker
                        var marker;
                        selectedMarker = $.grep(app.markerList, function (marker) { return marker.id == SelectedId });
                        //地標已存在不新增，並回傳marker
                        if (selectedMarker.length < 1) {
                            marker = app.setMarker(data, location);
                        } else {
                            marker = selectedMarker[0].marker;
                        }
                        //觸發點擊事件
                        //google.maps.event.trigger(marker, "click");

                        ////如果Side Bar顯示, 才做收起動作
                        //if (!$("#wrapper").hasClass("menuDisplayed")) {
                        //    //toggleClick();
                        //}

                        ////按鈕已點擊，清除地標
                        //if ($(`#${e.target.id}`).hasClass("ButtonOnClick")) {
                        //    selectedMarker[0].marker.setMap(null);
                        //    var selectedIndex = $.inArray(selectedMarker[0], app.markerList);
                        //    app.markerList.splice(selectedIndex, 1);
                        //    //如果Side Bar顯示, 才做收起動作
                        //    if ($("#wrapper").hasClass("menuDisplayed")) {
                        //        toggleClick();
                        //    }
                        //}
                        //$($(`#${e.target.id}`)).toggleClass("ButtonOnClick");
                    });
                },
                ShowSideBar: function () {
                    //如果Side Bar顯示, 才做收起動作
                    if (!$("#wrapper").hasClass("menuDisplayed")) {
                        toggleClick();
                    };
                },
                HideSideBar: function () {
                    //如果Side Bar顯示, 才做收起動作
                    if ($("#wrapper").hasClass("menuDisplayed")) {
                        toggleClick();
                    };
                },
                AreaSideBarDisplay: function () {
                    $("#wrapper").toggleClass("LivingAreaDisplay");
                    $('#AreaSideBar').toggle()

                },
                //清除地標點擊
                ClearMarker: function () {
                    app.HideSideBar();

                    //選取預設資料
                    this.LivingCityCode = "";
                    //清除地圖上標籤
                    for (var i = 0; i < this.markerList.length; i++) {
                        this.markerList[i].marker.setMap(null);
                    };
                    this.markerList = [];
                    //$("button[class*=ButtonLivingArea]").removeClass("ButtonOnClick");
                },
                // 建立地標
                setMarker: function (data, latLng) {
                    var tmpMarker = new google.maps.Marker({
                        position: latLng,
                        map: this.map,
                        label: {
                            text: JSON.stringify(data),
                            fontSize: "0px"
                        },
                        icon: "../Content/MapIcon.ico"
                    });
                    // 在地標上監聽點擊事件
                    tmpMarker.addListener("click", (e) => {
                        //Css切換事件
                        app.ShowSideBar();
                        var markerData = JSON.parse(tmpMarker.getLabel().text);
                        this.LivingArea = markerData.CityName + markerData.DistrictName;
                        this.DisplayDataList = markerData.EmpDataList;
                        //const currentZoom = app.map.getZoom();

                        ////點擊同一位置, 收起Side Bar;
                        ////點擊不同位置, 不收Side Bar並移動置中
                        //var latLng = tmpMarker.getPosition();
                        //if (!latLng.equals(this.map.getCenter())) {
                        //    app.HideSideBar();
                        //}

                        //this.resetCenter(latLng, currentZoom);
                    })
                    this.markerList.push({ id: "Marker_" + data.City + "_" + data.District, marker: tmpMarker });
                    return tmpMarker;
                },
                setStationedMarker: function (latLng) {
                    if (app.StationedMarker != null) {
                        app.StationedMarker.setMap(null);
                    }

                    app.StationedMarker = new google.maps.Marker({
                        position: latLng,
                        map: this.map
                    });
                },
                //重新置中地圖
                resetCenter: function (location, zoom) {
                    this.map.panTo(location);
                    this.map.setZoom(zoom);
                },
                ////員工資料分類
                //groupEmpData: function (CityCode, DistrictCode) {
                //    this.DisplayDataList = $.grep(this.EmpDistributionDataList, function (data) {
                //        return CityCode == data.CityCode && DistrictCode == data.DistrictCode;
                //    });
                //},
                //取得城市
                GetCity: function () {
                    $.ajax({
                        url: "/api/LivingAreaApi/GetCitySelectListItems",
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.CitySelectListItems = data.Result;
                            app.LivingCityList = data.Result;
                        },
                    })
                },
                //取得區域
                GetDistrict: function () {
                    $.ajax({
                        url: "/api/LivingAreaApi/GetDistrictSelectListItems?CityCode=" + this.CityCode,
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.DistrictSelectListItems = data.Result;
                        },
                    })
                },
                //取得駐點公司
                GetStationedCompany: function () {
                    $.ajax({
                        url: "/api/StationedCompanyApi/GetStationedCompanySelectListItems",
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.StationedCompanySelectListItems = data.Result;
                        },
                    });
                },
                GetStationedCompanyData: function () {

                },
                //取得員工資料
                getEmployeeData: function () {
                    $.ajax({
                        url: "/api/EmployeesApi/GetEmployeesViewModel",
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.LivingAreaList = groupBy(data.Result, "CityCode", "DistrictCode");
                        },
                    })
                }
            },
            watch: {
                ////工作縣市變更
                //CityCode: function () {
                //    this.DistrictCode = "";
                //    this.GetDistrict();
                //},
                ////工作區域變更
                //DistrictCode: function () {
                //    const City = this.CityCode;
                //    const CityName = $.grep(this.CitySelectListItems, function (data) { return data.Value == City })[0].Text;
                //    const District = this.DistrictCode;
                //    if (!isEmpty(District)) {
                //        const DistrictName = $.grep(this.DistrictSelectListItems, function (data) { return data.Value == District; })[0].Text;
                //        this.GetGeocode(CityName + DistrictName).then(function (location) {
                //            app.resetCenter(location);
                //        });
                //    }

                //},
                StationedCode: function () {
                    const StationedName = $.grep(app.StationedCompanySelectListItems, function (data) { return data.Value == app.StationedCode })[0].Text;
                    $.ajax({
                        url: "/api/StationedCompanyApi/GetFilterData?CompanySimpleName=" + StationedName,
                        type: "get",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (data) {
                            app.GetGeocode(data.Result[0].CompanyAddress).then(function (location) {
                                app.resetCenter(location, 14);
                                app.setStationedMarker(location);
                            });
                        },
                    });
                }
            }
        });
    </script>

    <script>
        //Rounding
        function roundDecimal(val, precision) {
            return Math.round(Math.round(val * Math.pow(10, (precision || 0) + 1)) / 10) / Math.pow(10, (precision || 0));
        };
        //Group By
        function groupBy(collection, property_1, property_2) {
            var i = 0, val, index,
                values = [], result = [];
            for (; i < collection.length; i++) {
                val = collection[i][property_1] + collection[i][property_2];
                index = values.indexOf(val);
                if (index > -1)
                    result[index].EmpDataList.push(collection[i]);
                else {
                    values.push(val);
                    result.push({
                        BtnId: 'LivingArea_' + collection[i].CityCode + '_' + collection[i].DistrictCode,
                        City: collection[i].CityCode,
                        CityName: collection[i].CityName,
                        District: collection[i].DistrictCode,
                        DistrictName: collection[i].DistrictName,
                        EmpDataList: [collection[i]]
                    });
                }
            }
            return result;
        };
        //Side Bar Show/Hide
        function toggleClick() {
            $("#wrapper").toggleClass("menuDisplayed");
            $("#SelectedInfo").toggle();
        };
        //Empty Check
        function isEmpty(val) {
            return (val === undefined || val == null || val.length <= 0) ? true : false;
        };
    </script>

    <style scoped>
        body {
            overflow-y: hidden;
        }

        .container-fluid {
            padding: 0px;
        }

        .row-hover:hover {
            background-color: #C8C8C8;
        }

        #LivingAreaInfomation {
            /*width: 150px;
            height: 100%;
            float: left;*/
            right: 0px !important;
            z-index: 1;
            position: absolute;
            width: 0;
            height: inherit;
            overflow-y: hidden;
            background: #fafafa;
            opacity: 1;
            transition: width .5s;
            display: flex;
            border-left: 1px solid #e5e5e5;
        }

        /*Sidebar Width*/
        #wrapper.LivingAreaDisplay #LivingAreaInfomation {
            width: 200px;
        }

        /* Sidebar */
        #sidebar-wrapper {
            z-index: 2;
            position: absolute;
            width: 0;
            height: inherit;
            overflow-y: hidden;
            background: #fafafa;
            opacity: 1;
            transition: width .5s;
            display: flex;
            border-right: 1px solid #e5e5e5;
        }

        /* Sidebar styling */
        .sidebar-nav {
            padding: 0;
            list-style: none;
            transition: all .3s;
            width: 100%;
            text-align: center;
        }

        /*Sidebar Width*/
        #wrapper.menuDisplayed #sidebar-wrapper {
            width: 30%;
        }

        /*標題樣式*/
        .headerStyle {
            color: #999;
            border-bottom: 1px solid #999;
            margin: 0px 10px 0px 10px;
        }

        /*技能顏色-1*/
        .departmentType-1 {
            color: red;
        }

        /*技能顏色-2*/
        .departmentType-2 {
            color: blue;
        }

        .ButtonLivingArea {
            padding: 5px 8px;
            margin: 2px;
        }

        /*.ButtonOnClick {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }*/
    </style>
    <!--RWD調整-->
    <style media="only screen and (max-width: 600px)">
        #wrapper.menuDisplayed #sidebar-wrapper {
            width: 100%;
        }
    </style>
}