﻿@{
    ViewBag.Title = "客戶滿意度調查";
}

<div id="app">
    @*搜尋條件*@
    <div class="accordion" id="accordionExample">
        <div class="card border-primary">
            <div class="card-header text-white bg-primary" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    客戶滿意度調查搜尋條件
                    <i class="fas fa-angle-down float-right pt-1"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <form class="text-left text-sm-left text-md-right text-lg-right">
                        @*<div class="form-group row">
                            <label class="col-12 col-sm-12 col-md-2 col-lg-2 my-1 col-form-label" for="CityName">查詢-1</label>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-1">
                                <input type="text" class="form-control" id="CityName" name="CityName" v-model="CityName" />
                            </div>
                        </div>*@
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" v-on:click="funRead();">搜尋</button>
                    <button type="button" class="btn btn-danger" v-on:click="funClear();">清除</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MailGenerator">發送滿意度邀請</button>
                </div>
            </div>
        </div>
    </div>

    @*搜尋結果*@
    <div class="form-group">
        <div class="table-responsive-sm">
            <table class="table table-hover text-center">
                @*<thead>
                    <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            郵遞區號
                        </th>
                        <th scope="col">
                            縣市名稱
                        </th>
                        <th scope="col">
                            鄉、鎮市區名稱
                        </th>
                    </tr>
                </thead>*@

                @*搜尋結果*@
                @*<tbody v-for="item in pageditems">
                        <tr>
                            <td></td>
                            <td>
                                {{ item.PostalCode }}
                            </td>
                            <td>
                                {{ item.CityName == null ? "" : item.CityName }}
                            </td>
                            <td>
                                {{ item.DistrictName == null ? "" : item.DistrictName }}
                            </td>
                        </tr>
                    </tbody>*@
            </table>
        </div>
    </div>

    @*發送客戶滿意度調查*@
    <div class="modal fade" id="MailGenerator" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">發送客戶滿意度調查</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-4 col-sm-12 col-form-label text-md-right text-sm-left">發送駐點公司</label>
                        <div class="col-md-8 col-sm-12">
                            <select id="CompanySimpleName" name="CompanySimpleName" class="form-control" v-model="CompanyId">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="Company in StationedCompanySelectListItems" v-bind:value="Company.Value">{{ Company.Text }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-sm-12 col-form-label text-md-right text-sm-left">駐點公司群組</label>
                        <div class="col-md-8 col-sm-12">
                            <select class="form-control" v-model="GroupId">
                                <option value="" selected>--請選擇--</option>
                                <option v-for="Group in GroupListInfo" :value="Group.Id">{{ Group.GroupName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-sm-12 col-form-label text-md-right text-sm-left">發送對象信箱</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="email" class="form-control" v-model="MailAddress" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-sm-12 col-form-label text-md-right text-sm-left">評估期間</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="date" class="form-control" v-model="EvaluateDate" />
                        </div>
                        <div class="col-md-8 offset-md-4 col-sm-12">
                            <input type="date" class="form-control" v-model="EvaluateEndDate" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-sm-12 col-form-label text-md-right text-sm-left">駐點人員</label>
                        <div class="col-md-8 col-sm-12">
                            <div class="col-sm-4 d-inline-block col-form-label" v-for="engineer in StationedEngineer">
                                {{engineer.EmployeeName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" v-on:click="funSendInvitation()">發送</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    @*Loading Modal*@
    <div class="modal fade overflow-hidden" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="mt-3 font-weight-bold">Sending...</div>
                </div>
            </div>
        </div>
    </div>

    @*VueJS分頁組件*@
    <div class="form-group">
        <paginate :page-count="pageCount"
                  :page-range=1
                  :init-page=0
                  :margin-pages=2
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :container-class="'pagination justify-content-center'"
                  :prev-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-left\'></i></h3>'"
                  :next-text="'<h3 class=\'px-2\'><i class=\'fas fa-angle-right\'></i></h3>'"
                  :first-last-button="'true'"
                  :first-button-text="'第一頁'"
                  :last-button-text="'最後一頁'"
                  :click-handler="pageCallback">
        </paginate>
    </div>
</div>

@section Scripts{
    <script>
        //載入分頁組件
        Vue.component('paginate', VuejsPaginate);
        //每頁顯示筆數
        const pageSize = 10;

        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    CompanyId: "",
                    GroupId: '',
                    EvaluateDate: "",
                    EvaluateEndDate: "",
                    StationedCompanySelectListItems: [],
                    GroupListInfo: [],
                    StationedEngineer: [],
                    MailAddress: "",
                    currentPage: 1,
                    pageCount: 1
                }
            },
            created: function () {
                // 初始化評估期間
                this.EvaluateDate = moment().quarter() < 3 ?
                    moment().startOf('year').format('YYYY-MM-DD') :
                    moment().startOf('year').quarter(3).format('YYYY-MM-DD');

                // 取得駐點公司
                $.ajax({
                    url: "/api/StationedCompanyApi/GetStationedCompanySelectListItems",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {
                        app.StationedCompanySelectListItems = data.Result;
                    },
                });
            },
            methods: {
                funCreate: function () {
                    window.location.href = "/Employees/CreateOrEdit";
                },
                funEdit: function (Id) {
                    window.location.href = "/Employees/CreateOrEdit/" + Id;
                },
                funDelete: function (Id) {
                    if (confirm("你確定要刪除嗎？")) {
                        $.ajax({
                            url: "/api/EmployeesApi/Delete",
                            type: "post",
                            data: JSON.stringify({ Id: Id, }),
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                app.funRead();
                                alert("刪除成功");
                            },
                            error: function (xhr) {
                                alert("刪除失敗");
                            }
                        });
                    }
                },
                funRead: function () {
                    
                },
                //清除搜尋條件
                funClear: function () {
                    //this.EmployeeName = "";
                    //this.CityCode = "";
                    //this.DistrictCode = "";
                    //this.Department = "";
                    //this.CompanySimpleName = "";
                    //this.Category = null;
                    //this.Personality = "";
                    //this.Education = "";
                    //this.WorkExperience = "";
                    //this.TotalWorkMonthsStart = null;
                    //this.TotalWorkMonthsEnd = null;
                    //this.Residence = "";
                    //this.funRead();
                },
                //設定分頁項次
                _setPage2Model: function () {
                    var vm = this;

                    if (!vm.items || vm.items.length <= 0) {
                        vm.pageCount = 1;
                    }
                    else {
                        vm.pageCount = parseInt(vm.items.length / pageSize) + (vm.items.length % pageSize > 0 ? 1 : 0);
                        for (let i = 0; i < vm.items.length; i++) {
                            vm.$set(vm.items[i], "page", parseInt(i / pageSize) + 1);
                        }
                    }
                },
                //設定分頁
                pageCallback: function (page) {
                    var vm = this;
                    this.$set(vm, 'currentPage', page);
                },
                //發送郵件
                funSendInvitation: function () {

                    $.ajax({
                        type: "Post",
                        url: '/api/SatisfactionSurveyApi/SendSatisfactionSurveyInvitation',
                        data: JSON.stringify({
                            EmployeeIdList: $.map(app.StationedEngineer, function (data) { return data.Id }),
                            StationedCompanyId: app.CompanyId,
                            EvaluateDate: app.EvaluateDate,
                            MailAddress: app.MailAddress
                        }),
                        dataType: "json",
                        contentType: "application/json",
                        beforeSend: function () {
                            app.funLoadingModal();
                        },
                        success: function (rs) {
                            app.funLoadingModal();
                            // response display
                            Swal.fire({
                                type: "success",
                                title: rs.Result ? "滿意度調查表已寄出" : "滿意度調查表寄送失敗",
                                allowOutsideClick: false
                            }).then(() => {
                                app.CompanyId = "";
                                app.StationedEngineer = [];
                                app.MailAddress = "";
                            })
                        }
                    });
                },
                // Empty Check
                funisEmpty: function (val) {
                    return (val === undefined || val == null || val.length <= 0) ? true : false;
                },
                // Loading modal
                funLoadingModal: function () {
                    $('#loadMe').modal('toggle');
                }
            },
            computed: {
                pageditems: function () {
                    var vm = this;
                    if (vm.items && vm.items.length > 0) {
                        return vm.items.filter(function (x) {
                            return x.page === vm.currentPage;
                        })
                    }
                    else {
                        return [];
                    }
                },
            },
            watch: {
                EvaluateDate: function () {
                    // 如果所選日期大於第三季(yyyy-07-01)，固定選擇當季第一天
                    app.EvaluateDate = moment(app.EvaluateDate).isSameOrAfter(moment(app.EvaluateDate).startOf('year').quarter(3).format('YYYY-MM-DD')) ?
                        moment(app.EvaluateDate).startOf('year').quarter(3).format('YYYY-MM-DD') :
                        moment(app.EvaluateDate).startOf('year').format('YYYY-MM-DD');
                    app.EvaluateEndDate = moment(app.EvaluateDate).quarter(moment(app.EvaluateDate).quarter() + 1).endOf('quarter').format('YYYY-MM-DD');
                },
                // 發送公司變更
                CompanyId: function () {
                    if (!app.funisEmpty(app.CompanyId)) {
                        //取得駐點員工
                        $.ajax({
                            url: "/api/GroupApi/GetGroupList",
                            data: JSON.stringify({ CompanyId: app.CompanyId }),
                            type: "Post",
                            contentType: "application/json",
                            success: function (data) {
                                if (data.Result.length > 0) {
                                    app.GroupListInfo = data.Result;
                                    app.GroupId = '';
                                    app.StationedEngineer = [];
                                } else {
                                    Swal.fire({
                                        type: "warning",
                                        title: "該公司未新增群組",
                                        html: "請先新增公司群組 <br/> 確認後跳轉至新增群組",
                                        confirmButtonText: '確認'
                                    }).then(function () {
                                        window.location.href = "/GroupManagement/Index";
                                    });
                                }

                            }
                        });
                    }
                },
                GroupId: function () {
                    if (!app.funisEmpty(app.GroupId)) {
                        var group = $.grep(app.GroupListInfo, function (data) { return data.Id === app.GroupId; });
                        app.StationedEngineer = group[0].Employees;
                    }
                }
            }
        });
    </script>
}