﻿@{
    ViewBag.Title = "客戶滿意度調查表";
}

<div id="app">
    <div class="accordion" id="accordionExample">
        <div class="card border-primary">
            <div class="card-header text-white bg-primary text-center" id="headingOne">客戶滿意度調查表</div>
            <div class="card-body bg-light text-sm-left text-md-right">
                <div class="form-group row">
                    <div class="col-sm-12 col-md-2 my-1">
                        <label class="col-sm-12 col-md-12 my-1 px-0 col-form-label" for="CompanySimpleName">客戶名稱</label>
                    </div>
                    <div class="col-sm-12 col-md-4 my-1">
                        <label class="col-sm-12 col-md-12 my-1 col-form-label text-left font-weight-bold">{{CompanySimpleName}}</label>
                    </div>
                    <div class="col-sm-12 col-md-2 my-1">
                        <label class="col-sm-12 col-md-12 my-1 px-0 col-form-label" for="EmployeeName">受評者姓名</label>
                    </div>
                    <div class="col-sm-12 col-md-4 my-1">
                        <label class="col-sm-12 col-md-12 my-1 col-form-label text-left font-weight-bold">{{EmployeeName}}</label>
                    </div>
                    
                </div>
                @*<div class="form-group row">
                    <div class="col-sm-12 col-md-2 my-1">
                        <label class="col-sm-12 col-md-12 my-1 px-0 col-form-label" for="ProjectCode">專案代號</label>
                    </div>
                    <div class="col-sm-12 col-md-4 my-1">
                        <label class="col-sm-12 col-md-12 my-1 col-form-label text-left font-weight-bold">{{ProjectCode}}</label>
                    </div>
                    <div class="col-sm-12 col-md-2 my-1">
                        <label class="col-sm-12 col-md-12 my-1 px-0 col-form-label" for="">評估期間</label>
                    </div>
                    <div class="col-sm-12 col-md-4 my-1">
                        <label class="col-sm-12 col-md-12 my-1 col-form-label text-left font-weight-bold">{{EvaluateStartDate}} ~ {{EvaluateEndDate}}</label>
                    </div>
                </div>*@

            </div>
            <form>
                <div class="card-body" style="border-bottom: 1px solid #dee2e6">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm text-center mb-0">
                        <thead>
                            <tr>
                                <th>評分</th>
                                <th>評分的含意</th>
                                <th>整體表現評分說明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td>極為滿意</td>
                                <td>表現遠超過預期，值得信賴與推薦。</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>很滿意</td>
                                <td>表現佳，並能持續一定的水準。</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>尚可</td>
                                <td>表現符合標準，但仍有改善的空間。</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>不滿意</td>
                                <td>表現不穩定，常有狀況發生。</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>極不滿意</td>
                                <td>表現達不到要求，且一直未能改善。</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-responsive-sm table-bordered table-striped table-sm text-center">
                        <thead>
                            <tr>
                                <th>評核項目</th>
                                <th colspan="5">分數</th>
                                <th>備註與說明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>服務熱忱</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="EnthusiasmScore" value="5" />極為滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="EnthusiasmScore" value="4" />很滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="EnthusiasmScore" value="3" />尚可</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="EnthusiasmScore" value="2" />不滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="EnthusiasmScore" value="1" />極不滿意</label>
                                </td>
                                <td>
                                    @*<input v-bind:class="EnthusiasmClass" style="max-width: 100%" v-model="EnthusiasmDesc" />*@
                                    <textarea v-bind:class="EnthusiasmClass" style="max-width: 100%" v-model="EnthusiasmDesc"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>溝通協調</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="CommunicationScore" value="5" />極為滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="CommunicationScore" value="4" />很滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="CommunicationScore" value="3" />尚可</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="CommunicationScore" value="2" />不滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="CommunicationScore" value="1" />極不滿意</label>
                                </td>
                                <td>
                                    @*<input v-bind:class="CommunicationClass" style="max-width: 100%" v-model="CommunicationDesc" />*@
                                    <textarea v-bind:class="CommunicationClass" style="max-width: 100%" v-model="CommunicationDesc"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>解決問題</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ResolveScore" value="5" />極為滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ResolveScore" value="4" />很滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ResolveScore" value="3" />尚可</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ResolveScore" value="2" />不滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ResolveScore" value="1" />極不滿意</label>
                                </td>
                                <td>
                                    @*<input v-bind:class="ResolveClass" style="max-width: 100%" v-model="ResolveDesc" />*@
                                    <textarea v-bind:class="ResolveClass" style="max-width: 100%" v-model="ResolveDesc"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>專業知識</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ProfessionScore" value="5" />極為滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ProfessionScore" value="4" />很滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ProfessionScore" value="3" />尚可</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ProfessionScore" value="2" />不滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="ProfessionScore" value="1" />極不滿意</label>
                                </td>
                                <td>
                                    @*<input v-bind:class="ProfessionClass" style="max-width: 100%" v-model="ProfessionDesc" />*@
                                    <textarea v-bind:class="ProfessionClass" style="max-width: 100%" v-model="ProfessionDesc"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>時間控制</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="TimeControlScore" value="5" />極為滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="TimeControlScore" value="4" />很滿意</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="TimeControlScore" value="3" />尚可</label>
                                </td>
                                <td>
                                    <label><input type="radio" v-model="TimeControlScore" value="2" />不滿意</label>
                                </td>
                                <td>

                                    <label><input type="radio" v-model="TimeControlScore" value="1" />極不滿意</label>
                                </td>
                                <td>
                                    @*<input v-bind:class="TimeControlClass" style="max-width: 100%" v-model="TimeControlDesc" />*@
                                    <textarea v-bind:class="TimeControlClass" style="max-width: 100%" v-model="TimeControlDesc"></textarea>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><label>評分總計</label></td>
                                <td colspan="5"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
            <div class="card-body">
                <h5>建議事項: </h5>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea class="form-control" style="max-width: 100%" rows="3" v-model="Comment"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 my-1 col-form-label text-right" for="CompanySimpleName">評核人簽署</label>
                    <div class="col-sm-12 col-md-2">
                        <input v-bind:class="AppraiserClass" v-model="Appraiser" />
                    </div>
                    <label class="col-sm-12 col-md-2 offset-md-3 my-1 col-form-label text-right" for="CompanySimpleName">評核日期</label>
                    <div class="col-sm-12 col-md-3">
                        <input type="date" v-bind:class="AppraiseDateClass" v-model="AppraiseDate" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" v-on:click="funSubmit()">送出</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @*載入Vue.js CDN*@
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Vue-->
    <script>
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    Id: "",
                    CompanyId: "",
                    CompanySimpleName: "",
                    ProjectCode: "",
                    EmployeeId: "",
                    EmployeeName: "",
                    EvaluateStartDate: "",
                    EvaluateEndDate: "",
                    EnthusiasmScore: "3",
                    EnthusiasmDesc: "",
                    EnthusiasmClass: "form-control",
                    CommunicationScore: "3",
                    CommunicationDesc: "",
                    CommunicationClass: "form-control",
                    ResolveScore: "3",
                    ResolveDesc: "",
                    ResolveClass: "form-control",
                    ProfessionScore: "3",
                    ProfessionDesc: "",
                    ProfessionClass: "form-control",
                    TimeControlScore: "3",
                    TimeControlDesc: "",
                    TimeControlClass: "form-control",
                    Appraiser: "",
                    AppraiserClass: "form-control",
                    AppraiseDate: "",
                    AppraiseDateClass: "form-control",
                    Comment: ""
                }
            },
            methods: {
                funLoadingModal: function () {
                    $('#loadMe').modal('toggle');
                },
                // Empty Check
                funisEmpty: function (val) {
                    return (val === undefined || val == null || val.length <= 0) ? true : false;
                },
                funSubmit: function () {
                    var model = {
                        Id: app.Id,
                        EmployeeId: app.EmployeeId,
                        CompanyId: app.CompanyId,
                        EvaluateDate: app.EvaluateStartDate,
                        EnthusiasmScore: app.EnthusiasmScore,
                        EnthusiasmDesc: app.EnthusiasmDesc,
                        CommunicationScore: app.CommunicationScore,
                        CommunicationDesc: app.CommunicationDesc,
                        ResolveScore: app.ResolveScore,
                        ResolveDesc: app.ResolveDesc,
                        ProfessionScore: app.ProfessionScore,
                        ProfessionDesc: app.ProfessionDesc,
                        TimeControlScore: app.TimeControlScore,
                        TimeControlDesc: app.TimeControlDesc,
                        Appraiser: app.Appraiser,
                        AppraiseDate: app.AppraiseDate,
                        Comment: app.Comment
                    };
                    console.log(model);

                    if (app.funSubmitCheck(model)) {
                        
                        $.ajax({
                            type: "Post",
                            url: '/api/SatisfactionSurveyApi/UpdateSatisfactionSurvey',
                            data: JSON.stringify(model),
                            dataType: "json",
                            contentType: "application/json"
                        }).done(function (response) {
                            console.log(response);
                            if (response === 200) {
                                Swal.fire({
                                    type: "success",
                                    title: "滿意度調查表更新成功",
                                    allowOutsideClick: false,
                                    showConfirmButton: false
                                });
                            }
                            // 更新失敗
                            else if (response === 304) {
                                Swal.fire({
                                    type: "error",
                                    title: "滿意度調查表更新失敗",
                                    allowOutsideClick: false,
                                    showConfirmButton: false
                                });
                            }
                            // 已更新過
                            else if (response === 412) {
                                Swal.fire({
                                    type: "warning",
                                    title: "滿意度調查表已填寫",
                                    allowOutsideClick: false,
                                    showConfirmButton: false
                                });
                            }
                        });
                    }
                },
                // ToDo: 暫時簡單寫
                funSubmitCheck: function (model) {
                    var checkScoreList = ['1', '2', '5'];
                    var danger = 'form-control border-danger';
                    var def = 'form-control';
                    var response = true;


                    if (checkScoreList.indexOf(model.EnthusiasmScore) > -1 && app.funisEmpty(model.EnthusiasmDesc)) {
                        app.EnthusiasmClass = danger;
                        response = false;
                    } else {
                        app.EnthusiasmClass = def;
                    }

                    if (checkScoreList.indexOf(model.CommunicationScore) > -1 && app.funisEmpty(model.CommunicationDesc)) {
                        app.CommunicationClass = danger
                        response = false;
                    } else {
                        app.CommunicationClass = def
                    }

                    if (checkScoreList.indexOf(model.ResolveScore) > -1 && app.funisEmpty(model.ResolveDesc)) {
                        app.ResolveClass = danger
                        response = false;
                    } else {
                        app.ResolveClass = def
                    }

                    if (checkScoreList.indexOf(model.ProfessionScore) > -1 && app.funisEmpty(model.ProfessionDesc)) {
                        app.ProfessionClass = danger
                        response = false;
                    } else {
                        app.ProfessionClass = def
                    }

                    if (checkScoreList.indexOf(model.TimeControlScore) > -1 && app.funisEmpty(model.TimeControlDesc)) {
                        app.TimeControlClass = danger
                        response = false;
                    } else {
                        app.TimeControlClass = def
                    }

                    if (this.funisEmpty(app.Appraiser)) {
                        app.AppraiserClass = danger;
                        response = false;
                    } else {
                        app.AppraiserClass = def
                    }

                    if (this.funisEmpty(app.AppraiseDate)) {
                        app.AppraiseDateClass = danger;
                        response = false;
                    } else {
                        app.AppraiseDateClass = def
                    }

                    return response;
                }
            },
            created: function () {
                var url = location.href;
                if (url.indexOf('?') != -1) {
                    this.Id = url.split('?')[1].split('=')[1];

                    $.ajax({
                        type: "Get",
                        url: '/api/SatisfactionSurveyApi/GetSatisfactionSurveyData?id=' + this.Id,
                        dataType: "json",
                        contentType: "application/json"
                    }).done(function (response) {
                        var result = response.Result;
                        console.log(result);
                        if (!app.funisEmpty(result.AppraiseDate)) {
                            Swal.fire({
                                type: "error",
                                title: `該人員滿意度調查表已由${result.Appraiser}於${moment(result.AppraiseDate).format('YYYY-MM-DD')}填寫`,
                                allowOutsideClick: false,
                                showConfirmButton: false
                            });
                        } else {
                            app.CompanyId = result.StationedCompanyId;
                            app.CompanySimpleName = result.StationedName;
                            app.ProjectCode = "";
                            app.EmployeeId = result.EmployeeId;
                            app.EmployeeName = result.EmployeeName;
                            app.EvaluateStartDate = moment(result.EvaluateDate).format('YYYY/MM/DD');
                            app.EvaluateEndDate = moment(result.EvaluateDate).quarter(moment(result.EvaluateDate).quarter() + 1).endOf('quarter').format('YYYY/MM/DD');
                        }
                    });
                }
                else {
                    Swal.fire({
                        type: "error",
                        title: "網頁載入錯誤",
                        allowOutsideClick: false,
                        showConfirmButton: false
                    });
                }

            }
        })
    </script>
}